input {
    border-radius: 10px 0 0 10px;
    border: none;
    height: 2.7rem;
    width: 30rem;
    background-color: #f1f1f1;
    padding: 10px;
    outline: none;
    font-weight: 500;
    font-size: 1rem;
    @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
        height: 2rem;
        width: 8rem;
    }
}

button {
    border-radius: 0 10px 10px 0;
    height: 2.7rem;
    width: 5rem;
    border: none;
    color: whitesmoke;
    background-color: red;
    opacity: 0.8;
    font-weight: 500;
    @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
        height: 2rem;
        width: 4rem;
    }
}

button :hover {
    opacity: 0.8;
}